docutils
dulwich

# Needed by the release note tooling
fuzzywuzzy

keyring
pygit2
pygments

# Needed by the phabricator tests
pytest-vcr

# Need to list explicitly so dependency gets pulled in when
# not running on Windows.
pywin32-ctypes
windows-curses
