[package]
name = "rhg"
version = "0.1.0"
authors = [
    "Antoine Cezar <antoine.cezar@octobus.net>",
    "Raphaël Gomès <raphael.gomes@octobus.net>",
]
edition = "2021"

[lints]
workspace = true

[dependencies]
hg-core = { path = "../hg-core"}
chrono = "0.4.23"
clap = { version = "4", features = ["cargo"] }
derive_more = "0.99.17"
home = "0.5.4"
lazy_static = "1.4.0"
log = "0.4.17"
logging_timer = "1.1.0"
regex = "1.7.0"
env_logger = "0.11"
format-bytes = "0.3.0"
shellexpand = { version = "3.1", features = ["full"]}
whoami = "1.4"
which = "4.3.0"
rayon = "1.7.0"
libc = "0.2.155"
