[package]
name = "hg-core"
version = "0.1.0"
authors = ["Georges Racinet <gracinet@anybox.fr>"]
description = "Mercurial pure Rust core library, with no assumption on Python bindings (FFI)"
edition = "2021"

[lib]
name = "hg"

[dependencies]
bitflags = "1.3.2"
bytes-cast = "0.3.0"
byteorder = "1.4.3"
derive_more = "0.99.17"
hashbrown = { version = "0.13.1", features = ["rayon"] }
home = "0.5.4"
im-rc = "15.1.0"
itertools = "0.10.5"
lazy_static = "1.4.0"
libc = "0.2.137"
logging_timer = "1.1.0"
ouroboros = "0.15.5"
rand = "0.8.5"
rand_pcg = "0.3.1"
rand_distr = "0.4.3"
rayon = "1.6.1"
regex = "1.7.0"
sha-1 = "0.10.0"
twox-hash = "1.6.3"
same-file = "1.0.6"
tempfile = "3.3.0"
thread_local = "1.1.4"
crossbeam-channel = "0.5.6"
log = "0.4.17"
memmap2 = { version = "0.5.8", features = ["stable_deref_trait"] }
zstd = "0.11.2"
format-bytes = "0.3.0"
# once_cell 1.15 uses edition 2021, while the heptapod CI
# uses an old version of Cargo that doesn't support it.
once_cell = "1.16.0"

# We don't use the `miniz-oxide` backend to not change rhg benchmarks and until
# we have a clearer view of which backend is the fastest.
[dependencies.flate2]
version = "1.0.24"
features = ["zlib"]
default-features = false

[dev-dependencies]
clap = { version = "4.0.24", features = ["derive"] }
pretty_assertions = "1.1.0"
